.monaco-modal-rendered-markdown .post-code > div {
    cursor: pointer;
}

.monaco-modal-rendered-markdown p {
    white-space: pre-wrap;
}

.monaco-modal-rendered-markdown {
    border: 1px solid;
    padding: 15px;
}
